h1{
  font-size:22;
  font-style:bold;
  color: Blue;
}
#header{
text-align: center;
min-height: 50px;
padding-top: 10px;
padding-bottom: 10px;
}
.wrapper {
  display: grid;
  margin-top:30px; 
 /* grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);*/
  grid-template-columns: 2fr 1fr ;
grid-auto-rows: minmax(100px, auto);
}
.Bubblechartelt {

  grid-column: 1 ;
  grid-row: 1;
}
.Questionscroll { 
  grid-column:  2;
  grid-row: 1;
}
.BarChartelt {
  grid-column: 2;
  grid-row: 2 ;
}
svg{
	margin-top: 20px;
	margin-left: 20px;
}

.rectangle {
  fill: steelblue;
}
.rectangle:hover {
  fill: orange;
}
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}